[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
ROOT_DIR = "{{config_root}}"
KUBERNETES_DIR = '{{config_root}}/kubernetes'
SCRIPTS_DIR = '{{config_root}}/scripts'
BOOTSTRAP_DIR = '{{config_root}}/bootstrap'
TALOS_DIR = '{{config_root}}/talos'
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

[tasks.deps]
description = "Install dependencies"
run = "uv pip install -r requirements.txt"

[tools]
# Template tools
python = "3.14.2"
uv = "latest"
# Operations tools
"aqua:budimanjojo/talhelper" = "3.1.3"
"aqua:cloudflare/cloudflared" = "2026.1.2"
"aqua:FiloSottile/age" = "1.3.1"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.47.0"
"aqua:helm/helm" = "4.1.0"
"aqua:helmfile/helmfile" = "1.2.3"
"aqua:jqlang/jq" = "1.7.1"
"aqua:kubernetes-sigs/kustomize" = "5.6.0"
"aqua:kubernetes/kubectl" = "1.33.1"
"aqua:mikefarah/yq" = "4.50.1"
"aqua:siderolabs/talos" = "1.12.2"
"aqua:yannh/kubeconform" = "0.7.0"
envsubst = "1.4.3"
cilium-cli = "0.18.3"
cilium-hubble = "1.17.3"
k9s = "0.50.6"