---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  interval: 1h
  timeout: 20m
  chart:
    spec:
      chart: nextcloud
      version: 8.8.1
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: -0
  values:
    deploymentAnnotations:
      reloader.stakater.com/auto: 'true'
    image:
      flavor: fpm-alpine
      # renovate: datasource=docker depName=nextcloud
      tag: 32.0.3-fpm-alpine
    ingress:
      enabled: false # using gateway API instead
    cronjob:
      enabled: true
    nginx:
      enabled: true
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      existingSecret:
        enabled: true
        secretName: nextcloud-database-app
        usernameKey: user
        passwordKey: password
        hostKey: host
        databaseKey: dbname

    persistence:
      storageClass: ceph-block
      enabled: true
      size: 5Gi
      nextcloudData:
        storageClass: ceph-block
        enabled: true
        size: 5Gi

    livenessProbe:
      periodSeconds: 30
      failureThreshold: 3
    readinessProbe:
      periodSeconds: 30
    startupProbe:
      enabled: true
      initialDelaySeconds: 5
      failureThreshold: 100
      timeoutSeconds: 5
    collabora:
      enabled: true
      collabora:
        aliasgroups:
          - host: http://nextcloud.default.svc.cluster.local:8080
            aliases:
              - https://cloud.${SECRET_DOMAIN}

        server_name: &collabora_url collabora.${SECRET_DOMAIN}
        extra_params: >-
          --o:ssl.enable=false
          --o:ssl.termination=true
        existingSecret:
          enabled: true
          secretName: nextcloud-secret
          passwordKey: COLLABORA_PASSWORD
          usernameKey: COLLABORA_USERNAME
        env:
          - name: dictionaries
            value: en_US en_GB pl_PL
      autoscaling:
        enabled: false
    nextcloud:
      host: cloud.${SECRET_DOMAIN}

      defaultConfigs:
        apps.config.php: false

      existingSecret:
        enabled: true
        secretName: nextcloud-secret

      extraEnv:
        - name: REDIS_HOST
          value: nextcloud-memcache
        - name: REDIS_HOST_PORT
          value: '6379'
        - name: OIDC_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: nextcloud-secret
              key: OIDC_CLIENT_ID
        - name: OIDC_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: nextcloud-secret
              key: OIDC_CLIENT_SECRET
        - name: OIDC_DISCOVERURL
          valueFrom:
            secretKeyRef:
              name: nextcloud-secret
              key: OIDC_DISCOVERURL
        - name: HOMEPAGE_VAR_NEXTCLOUD_KEY
          valueFrom:
            secretKeyRef:
              name: nextcloud-secret
              key: HOMEPAGE_VAR_NEXTCLOUD_KEY
        - name: COLLABORA_URL
          value: *collabora_url

      phpConfigs:
        uploadLimit.ini: |
          upload_max_filesize = 16G
          post_max_size = 16G
          max_input_time = 3600
          max_execution_time = 3600
        www.conf: |
          [www]
          user = www-data
          group = www-data
          listen = 127.0.0.1:9000
          pm = dynamic
          pm.max_children = 57
          pm.start_servers = 14
          pm.min_spare_servers = 14
          pm.max_spare_servers = 42
          pm.max_requests = 500
          pm.process_idle_timeout = 10s
      configs:
        local.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' => array(
              0 => '127.0.0.1',
              1 => '10.69.0.0/16',
              2 => '10.96.0.0/16',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'maintenance_window_start' => 1,
            'default_phone_region' => 'PL',

          );
        user_oidc.config.php: |-
          <?php
          $CONFIG = array (
            'user_oidc' => [
              'user_search_match_emails' => false,
              ],
          );
        log.php: |-
          <?php
            $CONFIG = array (
              "log_type" => "file",
            );
      hooks:
        post-installation: |-
          printf "Add missing DB indices\n"
          php occ db:add-missing-indices

        before-starting: |-
          # disable unneceserry apps
          for appname in activity circles systemtags federation privacy \
              nextcloud_announcements announcementcenter support survey_client \
              user_status weather_status dashboard photos
            do
            php occ app:disable "$appname"
          done

          # install openid user backend
          php occ app:enable user_oidc

          # update apps
          ./occ app:update --all

          printf "setting up OIDC\n"
          php occ config:app:set --value=0 user_oidc allow_multiple_user_backends

          # unique ids break groups
          php occ user_oidc:provider Keycloak \
            --clientid "$OIDC_CLIENT_ID" \
            --clientsecret "$OIDC_CLIENT_SECRET" \
            --discoveryuri "$OIDC_DISCOVERURL" \
            --mapping-display-name preferred_username \
            --unique-uid=0 \
            --group-provisioning 1

          # install apps
          for appname in spreed contacts calendar user_oidc bookmarks deck richdocuments
            do php occ app:install "$appname"
          done

          # set storage quota for users
          php occ config:app:set files default_quota --value '2 GB'

          # set monitoring token
          php occ config:app:set serverinfo token --value "$HOMEPAGE_VAR_NEXTCLOUD_KEY"

          # setup collabora office
          # 10.69.0.0/16 is internal cluster network

          php occ config:app:set richdocuments wopi_allowlist --value "10.69.0.0/16"

          php occ richdocuments:setup \
          --wopi-url http://nextcloud-collabora.default.svc.cluster.local:$NEXTCLOUD_COLLABORA_SERVICE_PORT \
          --callback-url http://nextcloud.default.svc.cluster.local:$NEXTCLOUD_SERVICE_PORT

          # If app is installed already occ returns 1, script fails and container refuses to start
          true

        post-upgrade: |-
          # based on https://github.com/nextcloud/all-in-one/blob/25c580bca370eaead5f1fad9d3842a9c49562dff/Containers/nextcloud/entrypoint.sh#L451-L457
          php occ maintenance:repair --include-expensive
          php occ db:add-missing-indices
          php occ db:add-missing-columns
          php occ db:add-missing-primary-keys
