- Applications:
    - nextcloud:
        description: Private cloud to store files, chat, manage calendars and contacts
        icon: nextcloud
        app: nextcloud
        name: Nextcloud
        namespace: default
        href: https://cloud.${SECRET_DOMAIN}
        widget:
          type: nextcloud
          url: http://nextcloud.default.svc.cluster.local:8080
          key: '{{HOMEPAGE_VAR_NEXTCLOUD_KEY}}'
          fields: ['activeusers', 'freespace']
        podSelector: app.kubernetes.io/name=nextcloud
    - immich:
        description: Photo and video management
        icon: immich
        app: immich
        name: Immich
        namespace: immich
        href: https://immich.${SECRET_DOMAIN}
        widget:
          type: immich
          version: 2
          fields: ['users', 'storage']
          url: http://immich-server.immich.svc.cluster.local:2283
          key: '{{HOMEPAGE_VAR_IMMICH_KEY}}'
        podSelector: |-
          app.kubernetes.io/name in (
            machine-learning,
            server
          )

    - grafana:
        app: grafana
        description: Observability and data visualization platform
        href: https://grafana.${SECRET_DOMAIN}
        icon: grafana
        name: Grafana
        namespace: observability
        podSelector: app=grafana
        widget:
          metrics:
            - label: Dashboards
              query: grafana_stat_totals_dashboard
          type: prometheusmetric
          url: http://prometheus-operated.observability.svc.cluster.local:9090

    - Keycloak:
        app: keycloak
        description: Identity and access management
        href: https://auth.${SECRET_DOMAIN}
        icon: keycloak
        name: Keycloak
        namespace: keycloak
        # TODO do better after https://github.com/keycloak/keycloak/issues/41079
        podSelector: app=keycloak

    - Jellyfin:
        app: jellyfin
        description: Media system
        enabled: 'true'
        href: https://jellyfin.${SECRET_DOMAIN}
        icon: jellyfin
        name: Jellyfin
        namespace: media

- Services:
    - qbittorrent:
        app: qbittorrent
        description: BitTorrent client
        enabled: 'true'
        href: https://qbittorrent.${SECRET_DOMAIN}
        icon: qbittorrent
        name: Qbittorrent
        namespace: media
        widget:
          fields: ['download']
          type: qbittorrent
          url: http://qbittorrent-app.media.svc.cluster.local:80

    - sonarr:
        app: sonarr
        description: Smart PVR
        href: https://sonarr.${SECRET_DOMAIN}
        icon: sonarr
        name: Sonarr
        namespace: media
        widget:
          key: '{{HOMEPAGE_VAR_SONARR_KEY}}'
          type: sonarr
          url: http://sonarr.media.svc.cluster.local:80

    - jacektt:
        app: jackett
        description: Indexer agragator and cache
        enabled: 'true'
        href: https://jackett.${SECRET_DOMAIN}
        icon: jackett
        name: Jackett
        namespace: media
        widget:
          type: jackett
          url: http://jackett.media.svc.cluster.local:9117

    - echo-server:
        app: echo-server
        description: An HTTP and WebSocket server for testing
        href: https://echo-server.${SECRET_DOMAIN}
        icon: mdi-server-network-outline
        name: Echo-server
        namespace: default
        podSelector: app.kubernetes.io/controller=echo-server,app.kubernetes.io/instance=echo-server,app.kubernetes.io/name=echo-server

    - echo-server-sec:
        app: echo-server
        description: OIDC secured echo-server
        href: https://echo-server-sec.${SECRET_DOMAIN}
        icon: mdi-server-network-outline
        name: Echo-server
        namespace: default
        podSelector: app.kubernetes.io/controller=echo-server,app.kubernetes.io/instance=echo-server,app.kubernetes.io/name=echo-server
    - Keycloak:
        app: keycloak admin
        description: Identity and access management administration page
        href: https://keycloak.${SECRET_DOMAIN}/admin/home-ops/console/
        icon: keycloak
        name: Keycloak
        namespace: keycloak
        # TODO do better after https://github.com/keycloak/keycloak/issues/41079
        podSelector: app=keycloak
    - flux:
        app: flux-operator
        description: Web interface providing real-time visibility into GitOps pipelines
        href: https://flux.${SECRET_DOMAIN}
        icon: flux-cd
        name: Flux
        namespace: flux-system

- Internal:
    - alertmanager:
        app: alertmanager
        description: Handles alerts sent by client applications such as the Prometheus server
        href: https://alertmanager.${SECRET_DOMAIN}
        icon: alertmanager
        name: Alertmanager
        namespace: observability
        podSelector: app.kubernetes.io/name=alertmanager
        widget:
          metrics:
            - label: Alerts active
              query: alertmanager_alerts{state="active"} - 1
          type: prometheusmetric
          url: http://prometheus-operated.observability.svc.cluster.local:9090

    - OPNsense:
        description: Firewall and routing platform
        href: https://192.168.0.1
        icon: opnsense
        widget:
          password: '{{HOMEPAGE_VAR_OPNSENSE_SECRET}}'
          type: opnsense
          url: https://192.168.0.1
          username: '{{HOMEPAGE_VAR_OPNSENSE_KEY}}'

    - prometheus:
        app: prometheus
        description: Metrics and monitoring
        href: https://prometheus.${SECRET_DOMAIN}
        icon: prometheus
        name: Prometheus
        namespace: observability
        podSelector: app.kubernetes.io/name=prometheus
        widget:
          type: prometheus
          url: http://prometheus-operated.observability.svc.cluster.local:9090

    - ceph:
        app: ceph
        description: Ceph monitoring and managment
        href: https://rook.${SECRET_DOMAIN}
        icon: ceph
        name: Ceph dashboard
        namespace: rook-ceph
        podSelector: app=rook-ceph-mgr,mgr_role=active,rook_cluster=rook-ceph
        widget:
          metrics:
            - label: OSDs in
              query: count(ceph_osd_in)
            - label: OSDs up
              query: count(ceph_osd_up)
          type: prometheusmetric
          url: http://prometheus-operated.observability.svc.cluster.local:9090
