---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app internal-external-dns
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-dns
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/crutonjohn/external-dns-opnsense-webhook
          tag: v1.0.0 # replace with a versioned release tag
        env:
          - name: OPNSENSE_API_SECRET
            valueFrom:
              secretKeyRef:
                name: &secret external-dns-opnsense-secret
                key: api_secret
          - name: OPNSENSE_API_KEY
            valueFrom:
              secretKeyRef:
                name: *secret
                key: api_key
          - name: OPNSENSE_HOST
            value: 'https://192.168.0.1'
          - name: OPNSENSE_SKIP_TLS_VERIFY
            value: 'true' # optional depending on your environment
          - name: LOG_LEVEL
            value: info
        resources:
          limits:
            memory: '200Mi' # BUG workaround https://github.com/crutonjohn/external-dns-opnsense-webhook/issues/15
        annotations:
          externaldns.alpha.kubernetes.io/type: 'A'
    extraArgs:
      - --ignore-ingress-tls-spec
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=internal
    policy: sync
    sources: ['gateway-httproute', 'service', 'crd']
    registry: noop
    domainFilters: ['${SECRET_DOMAIN}', '.internal']
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
