---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: keycloak-k8s-resources
  namespace: keycloak
spec:
  interval: 5m0s
  url: https://github.com/keycloak/keycloak-k8s-resources.git
  ref:
    # renovate: datasource=github-releases depName=keycloak/keycloak
    semver: 26.4.4
  ignore: |
    /*
    !/kubernetes
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app keycloak-operator
  namespace: keycloak
spec:
  interval: 30m
  targetNamespace: keycloak
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  sourceRef:
    kind: GitRepository
    name: keycloak-k8s-resources
  path: './kubernetes'
  prune: true
  timeout: 5m
