---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: flux-operator
      version: 0.42.1
      sourceRef:
        kind: HelmRepository
        name: controlplaneio
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: flux-operator-helm-values
    - kind: Secret
      name: flux-operator-helm-values-secret
  values:
    commonAnnotations:
      reloader.stakater.com/auto: 'true'
    web:
      config:
        baseURL: https://flux.${SECRET_DOMAIN}
        authentication:
          type: OAuth2
          oauth2:
            provider: OIDC
            issuerURL: https://auth.${SECRET_DOMAIN}/realms/home-ops
      httpRoute:
        enabled: true
        parentRefs:
          - name: external
            namespace: envoy-gateway-system
            sectionName: https-subdomains
        hostnames:
          - flux.${SECRET_DOMAIN}
